@import "assets/fonts/fonts.css";

:root
{
    --warm-white: #f5f3f2;
    --warm-white-rgb: 245, 243, 242;
    --warm-black: #0f0700;
    --warm-black-rgb: 15, 7, 0;
    --brown: #593114;
    --brown-rgb: 89, 49, 20;
    --green: #2e4f1c;
    --green-rgb: 46, 79, 28
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
}

html
{
    font-size: 16px;
}

body
{
    position: relative;
    font-family: 'Source Serif 4', Georgia, serif;
    background-color: var(--warm-white);
}

h2, h3, h4, p
{
    margin-bottom: 16px;
}

.wrapper
{
    max-width: 1240px;
    margin: 0 auto;
    padding: 32px 16px;
}

.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}


header
{
    position: relative;
    height: 64px;
    width: 100%;
    padding: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(var(--warm-black-rgb), 0.5);

    h1
    {
        font-family: 'sofiaregular', cursive;
    }
}

.hero-banner
{
    height: 480px;
    padding: 16px;
    background-image: url("./assets/images/hero-banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;

    .wrapper
    {
        height: 100%;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: var(--warm-white);

        h2
        {
            margin-bottom: 0;
            font-size: 3rem;
        }

        h3
        {
            font-size: 1.75rem;
        }
    }
}

.about
{
    padding: 0 16px;
    background-color: #e3d7d1;

    .wrapper
    {
        display: flex;
        flex-wrap: nowrap;

        @media screen and (max-width: 720px)
        {
            flex-direction: column;
        }

        section
        {
            flex: 1 1;

            &:nth-child(2)
            {
                text-align: center;

                img
                {
                    width: 50%;
                    border-radius: 50%;
                }
            }
        }
    }

    .links {
        margin-top: 32px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a
        {
            height: 32px;
            width: 240px;
            padding: 20px 8px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 16px;
            font-size: 1.2rem;
            border-radius: 4px;
        }

        a:link,
        a:visited
        {
            color: var(--warm-white);
            background-color: var(--brown);
            transition: background-color .3s ease-in-out;
        }

        a:hover,
        a:active,
        a:focus
        {
            background-color: var(--green);
        }
    }
}

.project-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 24px; /* Adjust gap size as desired */

    figure
    {
        width: 100%;
        height: auto;
        padding-bottom: 8px;
        text-align: center;
        font-size: 1.2rem;
        background-color: rgba(var(--green-rgb), 0.1);
        box-shadow: 3px 3px 5px rgba(var(--warm-black-rgb), .1);
        transition: background-color .3s ease-in-out;

        &:hover
        {
            background-color: rgba(var(--green-rgb), 0.3);
        }

        img
        {
            width: 100%;
        }

        a
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-size: 1rem;
        }
    }
}

footer
{
    text-align: center;
    color: var(--warm-white);
    background-color: var(--warm-black)
}